@import url("https://fonts.googleapis.com/css2?family=Pushster&family=Shizuru&family=Yuji+Hentaigana+Akebono&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Bitter:wght@300&family=Cormorant+Garamond:ital,wght@1,300&family=Pushster&family=Shizuru&family=Yuji+Hentaigana+Akebono&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Bitter:wght@300&family=Cormorant+Garamond:ital,wght@1,300&family=Pushster&family=Shizuru&family=Yuji+Hentaigana+Akebono&display=swap");
*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  border: 0;
  box-sizing: border-box;
}

body {
  width: 100%;
  background-color: black;
  background-image: url("../img/общий\ фон.png");
  background-position: center;
}

h1,
h2,
h3,
h4,
h5 {
  font-family: Lobster, cursive, sans-serif;
  font-size: 30px;
  color: #f0e68c;
  text-align: center;
  border-top: 3px solid #f0e68c;
}

main {
  max-width: 1200px;
  margin: 0 auto;
  padding: 2px;
  background: #f0e68c;
}

img {
  width: 100%;
  height: auto;
  padding: 2px;
  background: aliceblue;
}

.heading {
  font-family: Lobster, cursive, sans-serif;
  font-size: 25px;
  color: aliceblue;
  text-align: center;
  padding-top: 10px;
  width: 400px;
  margin: 0 auto;
}

/* .content {
  margin: 0 0 0 25px;
  font-weight: 700;
  font-family: Bitter, cursive, sans-serif;
  font-size: 20px;
  color: aliceblue;
  padding-bottom: 15px;
}

.content a {
  text-decoration: none;
}

.content a:hover {
  text-decoration: underline;
  color: aliceblue;
} */

.title:hover {
  transition: 2.5s;
  background-color: gray;
}

.text {
  font-family: Bitter, cursive, sans-serif;
  font-size: 18px;
  font-weight: 500;
  margin: 0 10px 0 10px;
  text-align: justify;
  color: aliceblue;
  padding-bottom: 15px;
  padding-top: 10px;
}

.logo {
  height: 100px;
  padding: 28px 45px;
  margin: 0 15px 20px;
  border: 2px solid aliceblue;
  background-image: url("../img/images.jpg");
  border-radius: 40% 10% 10% 10%;
  transition: 0.4s;
  display: inline-block;
}

.logo:hover {
  border-radius: 10% 0 50% 0;
}

.nav_top {
  background-color: whitesmoke;
  background-image: url("../img/chelovek-kniga-glaz.jpg");
  background-size: cover;
  background-position: center;
  margin-bottom: 20px;
  border-bottom: 2px solid aliceblue;
}

.container ul li,
.container_1 ul li {
  display: inline-block;
}

.container,
.container_1 {
  display: inline-block;
}

.container_1 {
  width: 100%;
  margin-bottom: 10px;
}

.container ul li a,
.container_1 ul li a,
.nav_social a {
  margin: 10px 15px 10px 15px;
  text-decoration: none;
  text-align: center;
  font-size: 20px;
  font-style: italic;
  font-family: Caveat, cursive, sans-serif;
  font-weight: 700;
  color: whitesmoke;
  transition: all 2.4s;
}

.container ul li a:hover,
.container_1 ul li a:hover,
.nav_social a:hover {
  text-decoration: 2px underline;
}
.nav_social {
  margin: 10px 0 20px;
}

.fon:first-child {
  background-image: url("../img/fon1.jpg");
  background-size: cover;
  background-position: center;
}

.fon:nth-child(2) {
  background-image: url("../img/fon5.jpg");
  background-size: cover;
  background-position: center;
}

.fon:nth-child(3) {
  background-image: url("../img/fon6.jpg");
  background-size: cover;
  background-position: center;
}

.fon:nth-child(4) {
  background-image: url("../img/fon2.jpg");
  background-size: cover;
  background-position: center;
}

.fon:nth-child(5) {
  background-image: url("../img/fon8.jpg");
  background-size: cover;
  background-position: center;
}

.fon:last-child {
  background-image: url("../img/fon3.jpg");
  background-size: cover;
  background-position: center;
}

.zam {
  color: #f0e68c;
}

.footer_tops {
  background-color: aliceblue;
  font-style: italic;
  font-size: 1em;
  border: 2px solid #000;
  height: 60px;
  margin: 10px 12px;
  font-weight: 400;
}

.colum_1,
.colum_2 {
  display: inline-block;
  background-color: aliceblue;
}

.colum_1 {
  padding: 10px 0 5px 12px;
  float: left;
}

.colum_2 {
  float: right;
  padding: 10px 12px;
  margin: 0 0 10px;
}

main article:nth-child(even) .picture {
  float: right;
  margin: 5px 0 0 12px;
}

main article:nth-child(odd) .picture {
  float: left;
  margin: 0 12px 0 0;
}
